<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ServiceProvider</key>
	<string>skydrive</string>
	<key>ClientID</key>
	<string>0000000040101B0B</string>
	<key>ClientSecret</key>
	<string>DDfWeuXL28NkM2bXSqBmwhgzXHGryyFy</string>
	<key>RedirectURL</key>
	<string>https://thatzprem.wordpress.com/</string>
	<key>UserURL</key>
	<string>https://login.live.com/oauth20_authorize.srf</string>
	<key>TokenURL</key>
	<string>https://login.live.com/oauth20_token.srf</string>
	<key>AccessTokenAdditionalParams</key>
	<dict>
		<key>response_type</key>
		<string>code</string>
		<key>scope</key>
		<string>wl.contacts_skydrive</string>
		<key>access_type</key>
		<string>online</string>
	</dict>
	<key>ExchangeAccessTokenParams</key>
	<dict>
		<key>grant_type</key>
		<string>authorization_code</string>
		<key>type</key>
		<string>code</string>
	</dict>
	<key>RefreshTokenAdditionalParams</key>
	<dict>
		<key>New item</key>
		<string></string>
		<key>New item - 2</key>
		<string></string>
		<key>New item - 4</key>
		<string></string>
		<key>New item - 3</key>
		<string></string>
	</dict>
</dict>
</plist>
